#window {
  border-radius: 14px;
  background-color: #303F9F;
}

#input {
  padding: 4px;
  border-radius: 14px 14px 0 0;
  font-size: 16px;
  background-color: #1A237E;
  border: none;
  color: #9fd3c7;
}

#input:focus {
  box-shadow: none;
}

#scroll {
  border-radius: 14px;
  background-color: #9FA8DA;
  margin: 0 12px 12px;
}

#inner-box {
  border-radius: 14px;
  padding: 12px;
}

#entry {
  padding: 8px;
  color: #385170;
}

#entry:selected {
  border-radius: 8px;
  background-color: #1A237E;
}

#entry image {
  margin-right: 8px;
}
